<h1>Stupid Coaching</h1>

<div class="card">
  <div class="card-body">
    <p>You: <%= @message %></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>Your coach: <%= @coach %></p>
  </div>
</div>

<%= link_to "Ask again", ask_path %>
